body{
    background-color: rgba(38, 0, 255, 0.384);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.348);
    padding: 10px;
    margin: auto;
    width: 550px;
}
footer{
    color: white;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

select#flista {
    width: 150px;
}